<div class= "chat-header">
  <div class="left-header">
      <div class="header-title">
        サンプル
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
</div>

<div class= "messages">
  <div class="message">
      <div class="upper-message">
        <div class="message-user">
          user.name
        </div>
        <div class="message-date">
          2022/9/30(Fri) 12:43:30
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          おはよう
        </div>
      </div>
    </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        user.name
      </div>
      <div class="message-date">
        2022/9/30(Fri) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class= "form">
  <div class="form-input">
      <input class="form-message" placeholder= "例）今日16時から○○でフットサルを開催するので、よかったら来てください。">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="form-submit" type="submit" value="送信">
</div>